/* UsersList.css */

.column {
    margin: 0 auto;
    padding: 20px;
    padding-top: 230px;
    max-width: 960px;
}

.users-list-user-container-list,
.users-list-user-container {
    padding-left: 40px;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.users-list-user-container,
.single-user-user-container {
    border-bottom: 5px solid var(--secondary-color);
    padding-bottom: 20px;
}

dt {
    font-weight: bold;
}

dl {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 10px 10px;
    font-size: 25px;
}

dl dd a {
    color: var(--secondary-color);
}

dl dd a:hover {
    text-decoration: underline;
}

a.full-details-button {
    background-color: var(--primary-color);
    border-radius: 16px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a.full-details-button:hover {
    background-color: var(--secondary-color);
}

/* Media queries for responsiveness */

@media only screen and (max-width: 768px) {
    .column {
        padding-top: 140px;
        max-width: 100%;
    }

    .users-list-user-container-list,
    .users-list-user-container {
        padding-left: 0;
    }

    dl {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        gap: 10px 10px;
        font-size: 20px;
    }

    dl dd {
        margin-bottom: 10px;
    }

    dl dt span {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 5px;
        grid-row: 1 / 2;
    }

    dl dd span {
        font-size: 22px;
        margin-bottom: 10px;
        grid-row: 2 / 3;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    a.full-details-button {
        display: block;
    }
}